.sidebar {
    height: 100%;
    width: 200px; 
    position: fixed;
    left: 0;
    top: 50px;
    background-color: #ffffff;
    overflow-x: hidden;
    padding-top: 20px;
    z-index: -0.5;
  }

  /* Style untuk link dalam sidebar */
  .sidebar a {
    padding-top: 20px;
    padding-bottom: 15px;
    padding-left: 20px;
    text-decoration: none;
    font-size: 18px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #818181;
    display: flex;
  }

  /* Style untuk link yang aktif (current) */
  .sidebar a.active {
    background-color: #555;
    color: white;
  }

  /* Style untuk link ketika dihover */
  .sidebar a:hover:not(.active) {
    background-color: #555;
    color: white;
  }

  .sidefoot{
    padding-top: 50px;
  }

  .containersidehead{
    padding-top: 2px;
    font-size: 5px;
  }

  .icon{
    width: 20px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .teksig {
    width: 125px;
    margin-left: 10px;
    position: relative;
    padding-bottom: 10px;
  }