.main {
  margin-left: 200px;
  padding: 20px;
  display: flex;
  flex-direction: row;
}

.sidebar {
  height: 100%;
  width: 200px;
  position: fixed;
  left: 0;
  background-color: #ffffff;
  overflow-x: hidden;
  z-index: -0.5;
  border-right: 1px solid;
}

/* Style untuk link dalam sidebar */
.sidebar a {
  padding-top: 20px;
  padding-bottom: 15px;
  padding-left: 20px;
  text-decoration: none;
  font-size: 18px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: #818181;
  display: flex;
}

/* Style untuk link yang aktif (current) */
.sidebar a.active {
  background-color: #555;
  color: white;
}

/* Style untuk link ketika dihover */
.sidebar a:hover:not(.active) {
  background-color: #555;
  color: white;
}

.sidefoot {
  padding-top: 50px;
}

.containersidehead {
  padding-top: 2px;
  font-size: 5px;
}

.icon {
  width: 20px;
  margin-left: 10px;
  margin-right: 10px;
}

.teksig {
  width: 125px;
  margin-left: 10px;
  position: relative;
  padding-bottom: 10px;
}

img {
  width: 100px;
}

.content {
  border: #555 1px;
  border-style: solid;
  width: 100%;
  max-width: 614px;
  display: flex;
  flex-direction: column;
  margin: 110px;
  gap: 25px;
  margin-top: 30px;
}

.post {
  display: flex;
  flex-direction: column;
  flex: 1;
  border-top: 1px solid;
}

.posthead {
  background-color: #ffffff;
  border-bottom: 1px solid;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
}

.postprofile {
  display: flex;
  align-items: center;
  gap: 12px;
}

.postmore {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.postcon {
  display: flex;
  position: relative;
}

.postmedia {
  display: flex;
  overflow-y: hidden;
  overflow-x: auto;
  width: 100%;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  scrollbar-width: none;
  padding: 20px;
}

.postfoot {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding: 4px 8px 12px;
}

.postbutton {
  display: flex;
  position: relative;
}

.postbuttonlove {
  border: 1px solid;
  cursor: pointer;
  padding: 8px;
}

.postbuttoncomment {
  border: 1px solid;
  cursor: pointer;
  padding: 8px;
}

.postbuttonshare {
  border: 1px solid;
  cursor: pointer;
  padding: 8px;
}

.sideright {
  display: flex;
  flex-direction: column;
  width: 20px;
  position: fixed;
  left: 80%;
  border-left: 1px solid;
  padding-left: 10px;
  margin-top: 80px;
}

.siderightuserpf {
  display: flex;
  align-items: center;
  margin: 20px 0 22px;
}

.siderightuseravatar{
  width: 56px;
  height: 56px;
  border-radius: 50%;
  margin-right: 12px;
  flex-shrink: 0;
  overflow: hidden;
  position: relative;
}

.siderightuserinfo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: 1px;
  gap: 4px;
}

.siderightuserbutton {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 12px;
  font-weight: 500;
  color: #189bf6;
}

.story {
  width: 100%;
  background-color: #ffffff;
  padding: 16px 0;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
  border-bottom: 1px solid;
}

.storiescontent {
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
  gap: 16px;
  padding: 0 16px;
  position: relative;
  scroll-behavior: smooth;
  scrollbar-width: none;
}